.container_code {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 80px;
    padding: 20px;
    padding-left: 75px;
}
.box {
    width: 150px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(145deg, #2e2e2e, #1f1f1f);
    box-shadow: 8px 8px 20px #101010, -8px -8px 20px #3a3a3a, inset 5px 5px 10px rgba(0,0,0,0.6), inset -5px -5px 10px rgba(255,255,255,0.1);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #e0e0e0;
    animation: move 2s infinite alternate;
    cursor: pointer;
}

.box:hover {
    transform: translateY(-10px);
    box-shadow: 12px 12px 24px #101010, -12px -12px 24px #3a3a3a, inset 5px 5px 10px rgba(0,0,0,0.6), inset -5px -5px 10px rgba(255,255,255,0.1);
}

.html { background: linear-gradient(145deg, #00bfff, white); color: black; }
.css { background: linear-gradient(145deg, #00bfff, black); color: white; }
.js { background: linear-gradient(145deg,  #00bfff, white); color: black; }
.java { background: linear-gradient(145deg, #00bfff, black); color: white; }
.C3 { background: linear-gradient(145deg,  #00bfff, white); color: black; }
.SA { background: linear-gradient(145deg, #00bfff, black); color: white; }



@media(max-width: 1024px){
    .container_code {
        padding-left: 45px;
        gap: 10px;
    }
    .box{
        width: 120px;
        height: 100px;
        font-size: 17px;
    }
}
@media(max-width: 800px){
    .container_code{
        grid-template-columns: repeat(3, 1fr);
        padding-left: 90px;
        margin-top: 70px;
    }
    .box{
        width: 150px;
        height: 120px;
        font-size: 20px;
    }
}
@media(max-width: 700px){
    .container_code{
        padding-left: 65px;
    }
}
@media(max-width: 600px){
    .container_code{
        padding-left: 40px;
    }
}
@media(max-width: 525px){
    .container_code{
        padding-left: 50px;
    }
    .box{
        width: 120px;
        height: 100px;
        font-size: 17px;
    }
}
@media(max-width: 425px){
    .container_code{
        padding-left: 30px;
        margin-top: 45px;
    }
    .box{
        width: 110px;
        height: 90px;
        font-size: 16px;
    }
}
@media(max-width: 375px){
    .container_code{
        padding-left: 25px;
    }
    .box{
        width: 100px;
        height: 80px;
        font-size: 15px;
    }
}
@media(max-width: 325px){
    .container_code{
        padding-left: 20px;
        margin-top: 30px;
    }
    .box{
        width: 90px;
        height: 70px;
        font-size: 12px;
    }
}



.About_me{
    display: flex;
    width: 60%;
    padding: 25px;
    flex-direction: column;
    margin-top: 70px;
    margin-left: 25px;
}
.about_h{
    font-size: 2rem;
}
.about_p{
    font-size: 1.4rem;
    text-align: justify;
}
.about_img img{
    width: 100px;
    position: absolute;
    top: 80%;
    left: 80%;
}
@media(max-width: 934px){
    .About_me{
        width: 70%;
        margin-left: 15px;
    }
    .about_img img{
        top: 75%;
    }
}
@media(max-width: 768px){
    .about_img img{
        width: 80px;
        top: 79%;
    }
    .about_p{
        font-size: 1.1rem;
    }
}
@media(max-width: 600px){
    .About_me{
        width: 80%;
        margin-left: 5px;
    }
    .about_img img{
        width: 70px;
        left: 83%;
    }
    .about_p{
        font-size: 1rem;
    }
}
@media(max-width: 525px){
    .about_h{
        font-size: 1.7rem;
    }
    .about_p{
        font-size: .85rem;
    }
    .about_img img{
        top: 83%;
        width: 60px;
    }
}
@media(max-width: 425px){ 
    .About_me{
        margin-left: 0;
        padding: 15px;
    }
    .about_h{
        font-size: 1.5rem;
    }
    .about_img img{
        width: 50px;
        top: 80%;
    }
}
@media(max-width: 350px){
    .about_h{
        font-size: 1.3rem;
    }
    .about_img img{
        width: 45px;
        top: 83%;
    }
    .about_p{
        font-size: 0.7rem;
    }
}