.boxes{
    margin-top: 150px;
}

.h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.h1 h1{
    border: 10px #00bfff double;
    padding: 20px;
    font-size: 50px;
    font-weight: bolder;
}

.box_1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1), 
                0 6px 20px rgba(255, 255, 255, 0.1); 
    border: 5px ridge rgba(0, 191, 255, 0.8);
    margin-bottom: 25px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
}
.box_1 img{
    justify-self: end;
    width: 100%;
    height: 425px;
}
.box_1 h3{
    text-align: center;
    font-size: 50px;
    padding-top: 180px;
}
.box_1 strong{
    color: #00bfff;
    line-height: 100px;
     font-family: cursive;
}
.boxes a{
position: absolute;
padding-right: 99%;
padding-bottom: 420px;
}
.box_1:hover{
    box-shadow: 0 8px 8px rgba(0, 191, 255, 0.7), 
                0 10px 20px rgba(0, 191, 255, 0.7); 
    transform: translateY(-15px);
}

.box_2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    box-shadow: 0 12px 8px rgba(255, 255, 255, 0.1), 
                0 14px 20px rgba(255, 255, 255, 0.1); 
    border: 5px ridge rgba(0, 191, 255, 0.8);
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
}
.box_2 img{
    width: 100%;
    height: 425px;
}
.box_2 h3{
    text-align: center;
    padding-top: 180px;
    font-size: 50px;
}
.box_2 strong{
    color: #00bfff;
    line-height: 100px;
     font-family: cursive;
}
.box_2:hover{
    box-shadow: 0 8px 10px rgba(0, 191, 255, 0.7), 
                0 10px 26px rgba(0, 191, 255, 0.7);             
    transform: translateY(-15px);
}


@media(max-width: 786px){
    .box_1{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 50px;
    }
    .box_1 img{
        width: 100%;
        height: 270px;
        justify-self: center;
        align-items: center;
        text-align: center;
    }
    .box_1 h3{
        font-size: 30px;
        padding-top: 30px;
        margin-bottom: 20px;
    }
    .boxes a{
        padding-right: 72.5%;
        padding-bottom: 370px;
    }


    .box_2{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 25px;
    }
    .box_2 img{
        width: 100%;
        height: 270px;
        justify-self: center;
        align-items: center;
        text-align: center;
    }
    .box_2 h3{
        font-size: 30px;
        padding-top: 30px;
        margin-bottom: 20px;
    }
}

@media(max-width: 700px){
    .boxes a{
        padding-right: 69%;
    }
}

@media(max-width: 650px){
    .boxes a{
        padding-right: 66%;
    }
}

@media(max-width: 600px){
    .boxes a{
        padding-right: 63%;
    }
}

@media(max-width: 550px){
    .boxes a{
        padding-right: 60%;
    }
}

@media(max-width: 505px){
    .box_1 h3{
        font-size: 25px;
    }
    .box_2 h3{
        font-size: 25px;
    }
    .box_1{
        margin-left: 80px;
        margin-right: 80px;
    }
    .box_2{
        margin-left: 80px;
        margin-right: 80px;
    }
    .h1 h1{
        font-size: 35px;
    }
    .boxes a{
        padding-right: 65%;
    }
}

@media(max-width: 455px){
    .boxes a{
        padding-right: 60%;
    }
}

@media(max-width: 425px){
    .box_1 h3{
        font-size: 20px;
    }
    .box_2 h3{
        font-size: 20px;
    }
    .box_1{
        margin-left: 60px;
        margin-right: 60px;
    }
    .box_2{
        margin-left: 60px;
        margin-right: 60px;
    }
    .h1 h1{
        font-size: 30px;
    }
    .boxes a{
        padding-right: 68%;
    }
}

@media(max-width: 375px){
    .box_1{
        margin-left: 50px;
        margin-right: 50px;
    }
    .box_2{
        margin-left: 50px;
        margin-right: 50px;
    }
    .h1 h1{
        font-size: 25px;
    }
}

@media(max-width: 325px){
    .box_1{
        margin-left: 35px;
        margin-right: 35px;
    }
    .box_2{
        margin-left: 35px;
        margin-right: 35px;
    }
    .h1 h1{
        font-size: 22px;
    }
    .boxes a{
        padding-right: 72%;
    }
}