.boxes{
    margin-top: 100px;
}
.boxes h1{
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 50px;
    border: double #00bfff 7px;
    margin: 65px;
    text-align: center;
}



.box_2 img{
    width: 400px;
    height: 400px;
}